{% extends "base.html" %}

{% block content %}

<div class="container">

    <h1>Men haqimda</h1>

    <p>
        Men Nodirbek, kompyuter injiniring yo‘nalishida tahsil olaman.
        Dasturlash, sun'iy intellekt va tarmoq texnologiyalariga qiziqaman.
        Hozirda universitet loyihalarim ustida ishlayapman va o‘z bilimlarimni
        blogimda bo‘lishishni xohlayman.
        Keyin bu blogda o‘z tajribalarim, loyihalarim va texnologiyalar haqida
        maqolalar yozaman.
        
    </p>

    <h3>Ko‘nikmalarim</h3>

    <ul>
        <li>Python (Django, FastAPI)</li>
        <li>Machine Learning</li>
        <li>Computer Vision</li>
        <li>Network Technologies</li>
    </ul>

</div>

{% endblock content %}