{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="hero">
    <div class="container">

        <h1>Nodirbek Blog</h1>

        <p>
            Bu mening shaxsiy blogim. Bu yerda dasturlash, sun'iy intellekt,
            tarmoq texnologiyalari va universitet loyihalarim haqida yozaman.
        </p>

        <a href="{% url 'articles' %}" class="btn">Maqolalarni ko‘rish</a>

    </div>
</section>


<section class="latest-posts">
    <div class="container">

        <h2>So‘nggi maqolalar</h2>

        <div class="post-card">

            <h3>Rasm segmentatsiyasi uchun Deep Learning</h3>

            <p>
                Deep Learning yordamida tasvirlarni segmentatsiya qilish usullari
                va ularning amaliy qo‘llanilishi.
            </p>

            <a href="#">Batafsil</a>

        </div>

    </div>
</section>

{% endblock content %}